<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <header class="header">
		<h1 class="logo">Welcome to <span class="sto">{{user}} </span>Book store</h1>
        
      <ul class="main-nav">
          
          <li><a href="{% url 'mystore' %}">Home</a></li>
          <li><a href="{% url 'storelist' %}">All Stores</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          
      </ul>
	</header><br><br><br><br>
    <div class="fom">

        <form action=" " method="post">
            {% csrf_token %}
            <label for="">Name</label>
            <input type="text" name="book"><br>
            <label for="">Price</label>
            <input type="integer" name="price"><br>
            <label for="">Author</label>
            <input type="text" name="author"><br>
    
            <label for="">Quantity</label>
            <input type="integer" name="counts"><br><br>
            <input type="submit" value="add">
        </form>
    </div>
</body>
</html>